{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Ips</h4>
            <div style="text-align:right;">
                
            </div>
        </div>
    </div>

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table table-hover">
                        <thead>
                        <tr style="color:#0E2EB0">
                            <th>Ips Estadisticas</th>
                        </tr>
                        </thead>
                      

                        {% for ips in ipss_list %}
                        <tr>
                            <td >{{ ips.name }}</td>


                            <table class="table ">
                                <tr>
                                    <tbody>
                                   
                                    {% for pa in ips.paciente.all %}
                                    <td>{{ pa.namePaciente }}</td>
                                    {% endfor %}
                                </tbody>
                                </tr>
                            </table>
                                
                        </tr>
                        {% endfor %}

                      
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/' ">
                            Back
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}