{% extends 'base.html' %}
{% block content %}

    <div >
        <img src="/static/media/widmy.jpg" width="50%" >
               
           <h1>Quienes Somos</h1>
           <h3>Widmy es el startup que está revolucionando los sistemas de información médicos. Nos enfocamos en las historias clínicas, interconectándolas y automatizándolas, Optimizando los procesos médicos, permitiendo a los profesionales de la salud enfocarse en lo que de verdad importa: La atención al paciente.</h3>
    </div>

{% endblock %}

